.env
.venv/
goey_smar_env/
.amazon-profile/
.amazon-profile-amazon-b/
amazon-profile/
.docker-config/
db.sqlite3
staticfiles/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
celerybeat-schedule*
goey_smar_env/
